.background {

    background-image: url("Index_background.jpg");
}

h1 {
    text-align: center;
    font-family: monospace;
    font-size: 70px;
    border: 2px solid black;
    width: 40% ;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow:10px 10px 10px black;
    background-color: #D0C9C0;
    opacity: 90%;
}

a {
    color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}
.block {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 30%; 
}
#box {
    border: 2px solid black;
    border-radius: 25px;
    background-color: #D0C9C0;
    opacity: 90%;
    box-shadow:10px 10px 10px black;
}

.list {
    font-family: monospace;
    font-size: 30px;
    padding: 2px;
}